<body>
    <style>
        body {
          background-color: #64A0A0;
          background-repeat: no-repeat;
        }
        </style>
        

    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
  <p style="border: 1px solid #000"> Made by: Camilla Dahlström <br>
    <a href="https://github.com/Camdah77"> <i class="fa-brands fa-github" color="#64A0A0">   </i></a>
    <a href="https://www.linkedin.com/in/camilladah/"> <i class="fa-brands fa-linkedin" color="#64A0A0">   </i></a>
    <a href="mailto:camilla.dahlstromz@gmail.com"><i class="fa-regular fa-envelope"color="#64A0A0">   </i></a>
    <script src="https://kit.fontawesome.com/e48964c33a.js" crossorigin="anonymous"></script></p>

</body>